<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
a.title {
  font-size: 20px;
  font-weight: bold;
  }
.button {
  background-color: white;
  border: none;
  color: gray;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 5px;
  }
.button:hover {
  color: black;
  }
.button:disabled {
  color: red;
  text-decoration: line-through;
  }
.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.textin {
  background-color: #f1f1f1;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
textarea {resize: none}
</style>

<head>
    <meta charset="UTF-8">
    <title>Loungeon</title>
</head>
<body class="centered">
<a href="{% url 'loungeman:index' %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <input class="button" type="button" value="L O U N G E O N"></a>
<h2>{{ room.room_name }}</h2>

{% if user %}
<br>
<form action="{% url 'loungeman:sendqr_user' room.room_id user.user_id %}" method="post">
    {% csrf_token %}
    <input class="textin" type="text" name="user_name" placeholder = "name" value="{{ user.user_name }}" size="20"><br><br>
    10-digit US phone number<br>
    <input class="textin" type="text" id="user_phone" name="user_phone" placeholder = "1110009999" value="{{ user.user_phone }}" size="10" maxlength="10" required>
    <input class="button" type="submit" id="user_submit" value="SEND" disabled>
    <script>document.getElementById("user_phone").focus();</script>
</form>

{% else %}
<br>
<form action="{% url 'loungeman:sendqr_room' room.room_id %}" method="post">
    {% csrf_token %}
    <input class="textin" type="text" id="user_name" name="user_name" placeholder = "your name" value="" size="20"><br><br>
    10-digit US phone number<br>
    <input class="textin" type="text" id="phone" name="user_phone" placeholder = "1110009999" value="" size="10" maxlength="10" required>
    <input class="button" type="submit" id="submit" value="SEND" disabled>
    <script>document.getElementById("user_name").focus();</script>
</form>

{% endif %}

<img src="/{{ MEDIA_URL }}{{ img }}" alt="QR" height="200" width="200">

<br><br>(text message rate may apply)<br>

</body>

<script>
{% if user %}
    const uphone = document.getElementById('user_phone');
    const usubmit = document.getElementById('user_submit');
{% else %}
    const uphone = document.getElementById('phone');
    const usubmit = document.getElementById('submit');
{% endif %}
    var phonexp = /^\d{10}$/;
    uphone.addEventListener('keyup', function(event) {
        if ((uphone.value.match(phonexp))) {
            usubmit.disabled = false;
        } else {
            usubmit.disabled = true;
        }
    });
</script>

</html>