<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
a.title {
  font-size: 20px;
  font-weight: bold;
  }
.button {
  background-color: white;
  border: none;
  color: gray;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 5px;
  }
.button:hover {
  color: black;
  }
textarea {resize: none}
</style>

<head>
    <meta charset="UTF-8">
    <title>Loungeon Helm</title>
</head>
<body>
<a href="{% url 'loungeman:index' %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <input class="button" type="button" value="L O U N G E O N"></a>
<h2>Welcome to the command deck!</h2><br>
<h4>Lounges</h4>
{% if rooms %}
    <ul>
    {% for r in rooms %}
        <li><a href="{% url 'loungeman:room' r.room_id %}">{{ r.room_name }}</a>
            <a href="{% url 'loungeman:removedroom' r.room_id %}" style="text-decoration: none">
                <input type="button" value="Destroy"></a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No room is available.</p>
{% endif %}

<br>
<form action="{% url 'loungeman:addedroom' %}" method="post">
    {% csrf_token %}
    <input type="text" name="room_name" id="room_name" placeholder = "Lounge Name" value="">
    <input type="submit" value="Make Lounge">
</form>
</body>

</body>
</html>