<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.button {
  background-color: Transparent;
  border: none;
  color: #a195ad;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  }
.button:hover {
  color: black;
  }
.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.banner {
  background-color: #341651;
  }
.bkg {
  background-image: linear-gradient(to right, #0d3a84, #2d3a4f);
  }
.textin {
  background-color: #e8e8e8;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}
</style>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loungeon</title>
</head>

<body class="bkg">
<div class="banner">
    <a href="{% url 'loungeman:index' %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
        <input class="button" type="button" value="L O U N G E O N"></a>
</div>
<div>
    <div class="centered">
        <h2 style="color: white">Create Your Lounge</h2>

        <br>
        <form action="{% url 'loungeman:addedroom' %}" method="post">
            {% csrf_token %}
            <input class="textin" type="text" name="room_name" id="room_name" placeholder = "Lounge Name (optional)" value="" size="30">
            <input class="button" type="submit" value="Create">
        </form>
    </div>
</div>
</body>

<script>document.getElementById("room_name").focus();</script>

</html>
