<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif;}
html, body {height: 100%}
.title {
  color: #d4c9d8;
  font-size: 20px;
  font-weight: bold;
  }
.text1 {
  color: #d4c9d8;
  font-size: 20px;
  font-weight: bold;
  }
.text2 {
  color: #d4c9d8;
  font-size: 16px;
  }
.button {
  background-color: Transparent;
  border: none;
  color: #a195ad;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 5px;
  }
.button:hover {
  color: white;
  }
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  }
.box .banner {
  background-color: #341651;
  flex: 0 1 auto;
  }
.box .content {
  flex: 1 1 auto;
  overflow-y: auto;
  }
.box .comment {
  flex: 0 1 auto;
  padding: 10px 0px;
  }
.bkg {
  height: 100%;
  background-image: linear-gradient(to right, #520e6d, #1b0f6d);
  }
textarea {
  resize: none;
  border: none;
  padding: 5px 12px;
  background-color: Transparent;
  }
.textin {
  background-color: #f1f1f1;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}
.overlay {
  position: fixed;
  display: none;
  background-color: #6f6f6f;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #dfdfdf;
  opacity: 0.8;
}
.msg_container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.w3-sidebar {background-color: #091e42!important; opacity:0.9}
.w3-button {color: #97a7c4!important}
.w3-button:hover {background-color: Transparent!important; color: white!important}
</style>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loungeon - {{ room.room_name }}</title>
</head>

<body class="bkg">
<div class="box">
    <div class="banner">
        <a href="{% url 'loungeman:index' %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
            <input class="button" type="button" value="L O U N G E O N"></a>
    </div>

    <div id="sidebar" class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none">
        <button class="w3-bar-item w3-button w3-large fas fa-chevron-left" onclick="nav_click()"></button>
        <a class="w3-bar-item w3-button w3-large" href="{% url 'loungeman:getqr' room.room_id %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
            Share</a>
        <button class="w3-bar-item w3-button w3-large" onclick="guest_click()">Guests</button>
        <button class="w3-bar-item w3-button w3-large" onclick="bot_click()">Bots</button>
        {% if uid %}
        <a class="w3-bar-item w3-button w3-large" href="{% url 'loungeman:getqr' room.room_id uid %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
            Save</a>
            {% if room.room_owner == uid %}
        <a class="w3-bar-item w3-button w3-large" href="{% url 'loungeman:room' room.room_id %}" rel="noopener noreferrer" target="_blank" style="text-decoration: none">
            Pop Out</a>
        <br><br><br><br><a class="w3-bar-item w3-button w3-large" href="{% url 'loungeman:delroom' room.room_id uid %}" style="text-decoration: none">
            Destroy</a>
            {% else %}
        <button class="w3-bar-item w3-button w3-large" id="leave">Leave</button>
            {% endif %}
        {% endif %}
    </div>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="guestbar" onclick="guest_click()" style="display:none">
        <textarea id="userlog" cols="35" rows="10" autocomplete="off" style="color:#f1f1f1;" readonly></textarea>
    </div>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" id="botbar" onclick="bot_click()" style="display:none">
        <textarea id="bots" cols="35" rows="1" autocomplete="off" style="color:#f1f1f1;" readonly>None</textarea>
    </div>

    <div><button id="openNav" class="w3-button w3-xlarge title" onclick="nav_click()">&#9776; {{ room.room_name }}</button></div>
    <div id="main" class="w3-center content">
        <!--<textarea class="text2 content" id="chatlog" autocomplete="off" style="width: 100%; height: 100%" readonly></textarea>-->
    </div>

    <div class="comment w3-center">
        {% if uid %}
        <div class="w3-thrid w3-row">
            <span class="text1" style="font-weight:bold">{{ uname }}</span>
        </div>

        <br>
        <div style="width:100%; display:table">
            <input class="textin" id="comment" type="text" style="display:table-cell; width:80%" placeholder="say what?">
            <button class="fas fa-paper-plane w3-button w3-xlarge" id="send"></button>
        </div>

        {% else %}
        <br>
        <form action="{% url 'loungeman:added' room.room_id %}" method="post">
            {% csrf_token %}
            <input class="textin w3-rest" type="text" name="user_name" id="user_name" placeholder = "your name (optional)" value="">
            <button class="fas fa-plus-circle w3-button w3-xlarge" id="adduser" type="submit"></button>
        </form>

        {% endif %}
    </div>
</div>
</body>

{% if uid %}
<script>
    var urlroom='r/{{ room.room_id }}/';
    var url0='r/{{ room.room_id }}/u/{{ uid }}/';
    var userid='{{ uid }}';
    document.getElementById("comment").focus();
</script>
{% else %}
<script>
    var url0='r/{{ room.room_id }}/';
    var userid='';
    document.getElementById("user_name").focus();
</script>
{% endif %}

{% load static %}
<script type="text/javascript" src="{% static 'js/chatws.js' %}"></script>
<script>
function nav_click() {
  if (document.getElementById("sidebar").style.display == "block") {
    document.getElementById("sidebar").style.display = "none";
  } else {
    document.getElementById("sidebar").style.display = "block";
  }
}
function guest_click() {
  if (document.getElementById("guestbar").style.display == "block") {
    document.getElementById("guestbar").style.display = "none";
  } else {
    document.getElementById("guestbar").style.display = "block";
  }
}
function bot_click() {
  if (document.getElementById("botbar").style.display == "block") {
    document.getElementById("botbar").style.display = "none";
  } else {
    document.getElementById("botbar").style.display = "block";
  }
}
</script>

</html>
